@tailwind base;
@tailwind components;
@tailwind utilities;

.add-to-watchlist-tooltip {
  @apply relative;
}

.add-to-watchlist-tooltip::before {
  content: "Add to watchlist";
  @apply absolute hidden hover:block bottom-[110%] left-1/2 -translate-x-1/2 whitespace-nowrap px-3 py-2 rounded-md bg-gray-600 text-sm;
}

.indicator-tile {
  @apply relative rounded-full transition-all duration-200 ease-linear;
}

.indicator-tile::before {
  content: "";
  @apply absolute w-0 h-full left-0 bg-transparent rounded-full transition-width duration-[7000ms] ease-linear;
}

.active-indicator-tile {
  @apply w-12;
}

.active-indicator-tile::before {
  @apply w-full bg-primary;
}

.important-left-0 {
  margin-left: 0 !important;
  left: 0 !important;
}

@layer base {
  h2 {
    @apply text-4xl pb-5 font-semibold font-mina;
  }
}

.important-rounded {
  border-radius: 20px !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ui-tile {
  @apply rounded-md hover:bg-slate-600 hover:text-primary focus:text-primary focus:outline-none focus:bg-slate-600 transition duration-200;
}
